astroid==3.3.11
black==25.1.0
blinker==1.9.0
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.4.3
click==8.2.1
colorama==0.4.6
cryptography==45.0.6
dill==0.4.0
distlib==0.3.9
filelock==3.18.0
Flask==3.1.1
Flask-Mail==0.10.0
Flask-SQLAlchemy==3.1.1
greenlet==3.2.3
identify==2.6.12
isort==6.0.1
itsdangerous==2.2.0
Jinja2==3.1.6
lxml==6.0.1
MarkupSafe==3.0.2
mccabe==0.7.0
mypy==1.17.0
mypy_extensions==1.1.0
nodeenv==1.9.1
packaging==25.0
pathspec==0.12.1
pdfminer.six==20250506
pdfplumber==0.11.7
pillow==11.3.0
platformdirs==4.3.8
pre_commit==4.2.0
psycopg2-binary==2.9.10
pycparser==2.22
pydocstyle==6.3.0
pylint==3.3.8
PyMuPDF==1.26.4
pypdfium2==4.30.0
python-docx==1.2.0
python-dotenv==1.1.1
PyYAML==6.0.2
snowballstemmer==3.0.1
SQLAlchemy==2.0.41
tomlkit==0.13.3
typing_extensions==4.14.1
virtualenv==20.31.2
Werkzeug==3.1.3
